---
title: Contact Us
description: Describe everything
keywords: word1, word2, word3
---
{# <form class="contact-form" action="/api/contact" method="POST">
	<fieldset>
		<legend class="sr-only">Contact Form</legend>

		<div class="field-group">
			<label for="name">Name<span class="required">*</span></label>
			<div>
				<input name="name" id="name" type="text" required>
			</div>
		</div>

		<div class="field-group">
			<label for="phnum">Phone<span class="required">*</span></label>
			<div>
				<input name="phnum" id="phnum" type="tel" required>
			</div>
		</div>

		<div class="field-group">
			<label for="email">Email<span class="required">*</span></label>
			<div>
				<input name="email" id="email" type="email" required>
			</div>
		</div>

		<div class="field-group">
			<label for="contact_type">Reason for Contacting<span class="required">*</span></label>
			<div>
				<select name="reason" id="contact_type" required>
					<option value="Option 1">Option 1</option>
					<option value="Option 2">Option 2</option>
					<option value="Option 3">Option 3</option>
				</select>
			</div>
		</div>

		<div class="field-group">
			<label for="message">Questions/Comments<span class="required">*</span></label>
			<textarea name="message" id="message" required></textarea>
		</div>

		<p><span class="required">*</span>Required field</p>

		<div class="field-group">
			<div class="g-recaptcha" data-sitekey=""></div>
		</div>

		<div class="field-group m-0">
			<input type="submit" value="Submit" />
		</div>
	</fieldset>
</form> #}
