

// These are the base typography styles covering headings, paragraphs, and lists
// Other styles may be dependant on the individual component

// ==============================================
// HEADINGS
// ==============================================

h1, h2, h3, p, span {

	&.serif {
		@include serif;
	}

	&.sans {
		@include sans;
	}

	&.sans-cond {
		@include sans-cond;
	}

	&.uppercase {
		text-transform: uppercase;
	}
}

h1.uppercase {
	letter-spacing: .1em;
}

h2.uppercase {
	letter-spacing: .09em;
}

h3.uppercase {
	letter-spacing: .08em;
}


/* #region Headings */
h1, h2, h3, p {
	padding: 0;
	margin: 0;
	color: $gray-dark;
}

@mixin h1(){
	@include serif;
	font-size: rem-calc(33);
	line-height: rem-calc(36);
	margin-bottom: calc($standard/3);
	color: $blue-light;

	@media screen and ($small) {
		font-size: rem-calc(43);
		line-height: rem-calc(46);
		margin-bottom: calc($standard/2);
	}
}

@mixin h2(){
	@include sans-cond;
	font-size: rem-calc(26);
	line-height: rem-calc(36);
	color: $gray-dark;
	margin-bottom: 5px;

	@media screen and ($medium) {
		margin-bottom: 15px;
	}
}

@mixin h3(){
	@include sans;
	font-size: rem-calc(18);
	line-height: rem-calc(28);
	font-weight: bold;
	color: $blue;
	margin-bottom: 5px;

	@media screen and ($medium) {
		margin-bottom: 8px;
	}
}


h1, h1 a, .h1, h1 a {
	@include h1;
}

h2, h2 a, .h2, .h2 a {
	@include h2;
}

h3, h3 a, .h3, .h3 a {
	@include h3;
}

legend {
	display: block;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: .4em;
	border-bottom: 1px solid $gray;
}

legend {
	margin-bottom: 10px;
}

// ==============================================
// LINKS
// ==============================================

a {
	outline: none;
	text-decoration: none;
	cursor: pointer;
	color: $blue;

	&:hover {
		color: darken($blue, 10%);
		text-decoration: underline !important;
	}

	&:focus, &:active, &:visited {
		text-decoration: none;
		outline: none !important;
	}
}


// ==============================================
// PARAGRAPHS & MISC COPY
// ==============================================

p {
	font-size: rem-calc(16);
	line-height: rem-calc(24);

	+ p {
		padding-top: 10px;

		@media screen and ($medium) {
			padding-top: 16px;
		}
	}

	&.large {
		font-size: rem-calc(18);
		line-height: rem-calc(28);
	}
}

p + h1, p + .h1-style,
p + h2, p + .h2-style,
p + h3, p + .h3-style {
	margin-top: 20px;
}

small {
	display: inline-block;
	font-size: .8em !important;
	line-height: 1.7em !important;
}

// Used as a span class to add space and content between
.buffer {
	&:after {
		content: '|';
		display: inline-block;
		text-align: center;
		width: 15px;
		color: $gray-dark;
		text-decoration: none !important;
		transition: none;
		margin-left: 3px;
	}
}

.gray {
	color: $gray;
}

// ==============================================
// LISTS
// ==============================================

ul, ol {
	padding: 3px 0 0 18px;
	margin: 0 0 0 18px;

	li {
		margin: 0;
		padding-bottom: 15px;

		&:last-of-type {
			padding-bottom: 0;
		}
	}

	+ p {
		padding-top: 20px;
	}

	+ h2, + h3, + h4 {
		padding-top: 30px;
	}

	li ul {
		margin: 6px 0 0 18px;

		li {
			padding-bottom: 10px;
		}
	}
}

ul + ul, ol + ol,
ul + ol, ol + ul {
	padding-top: 20px;
}

h2 + ul, h3 + ul, h4 + ul, h5 + ul,
h2 + ol, h3 + ol, h4 + ol, h5 + ol {
	padding-top: 8px;
}

p + ul, p + ol {
	padding-top: 10px;
}

.uppercase {
	text-transform: uppercase;
}
