---
layout: base.njk

title: Home
description: Tan-Zar Kennels is a premiere pet boarding and grooming facility located in the North Hills of Pittsburgh.  We are the oldest continually operating kennel in the tri-state area.
keywords: pet boarding, pet grooming, pet day care, Pittsburgh pet boarding, North Hills pet boarding, dog groomer, Wexford pet boarding; dog and cat boarding
permalink: "/"
---

<img src="{{'/assets/imgs/theme/home-banner-mobile.jpg' | url }}" class="home-banner mobile" alt="Dog and Cat Boarding in Pittsburgh" aria-hidden="true">
<img src="{{'/assets/imgs/theme/home-banner-tablet.jpg' | url }}" class="home-banner tablet" alt="Dog and Cat Boarding in Pittsburgh" aria-hidden="true">
<img src="{{'/assets/imgs/theme/home-banner-desktop.jpg' | url }}" class="home-banner desktop" alt="Dog and Cat Boarding in Pittsburgh" aria-hidden="true">

<main class="home-main">
	<div class="container">
		<div class="row">
			<div class="col-md-4 centered">
				<svg class="icon display blue-light first" aria-hidden="true"><use xlink:href="#icon-night" href="#icon-night"></use></svg>
				<p>
					Our dog kennels, located in Wexford, PA, provide beautiful and spacious indoor and outdoor space for your dog to play. Our cat condos provide ample space for your cat to roam freely. Contact us today to book your boarding reservation.
				</p>
				<a href="/boarding" class="btn med gray space-above-half">Learn More About Boarding</a>
			</div>

			<div class="col-md-4 centered">
				<svg class="icon display blue-light" aria-hidden="true"><use xlink:href="#icon-groom" href="#icon-groom"></use></svg>
				<p>
					Professional dog and cat grooming is available in conjunction with your pet’s stay at the kennel or cattery or as a stand-alone appointment. Grooming services include bathing, nail trimming, hand scissoring, de-matting, and more.
				</p>
				<a href="/grooming" class="btn med gray space-above-half">Learn More About Grooming</a>
			</div>


			<div class="col-md-4 centered">
				<svg class="icon display blue-light" aria-hidden="true"><use xlink:href="#icon-heart" href="#icon-heart"></use></svg>
				<p>
					Do you need a safe place for your dog to hang out while you’re at work? We offer discounted rates for single day boarding appointments. Is your dog new to a kennel environment? Has it been a while since you boarded your dog? Let’s schedule a play date!
				</p>
				<a href="/day-stays" class="btn med gray space-above-half">Learn More About Day Stays</a>
			</div>
		</div>
	</div>

	<div class="home-callout">
		<div class="container">
			<div class="icon">
				<img src="{{'/assets/imgs/theme/tanzar-kennels-dog-boarding-reservations-247.png' | url }}" alt="Pittsburgh dog boarding and grooming reservations" />
			</div>

			<div class="content">
				<h2>Call 724-935-2185 to Book Your Next Boarding Reservation or Grooming Appointment Today!</h2>
				<p>
					Boarding reservations are available from 9:00 a.m. to 6:00 p.m. Monday through Saturday. Grooming appointments currently available Monday, Tuesday, Friday, and Saturday. We hope to see you and your pet soon!
				</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="h2">Dog &amp; Cat Boarding in Pittsburgh</h1>
				<p>
					Tan-Zar Kennels and Cattery, located in Wexford, Pennsylvania, just north of Pittsburgh, can accommodate 67 dogs and 20 cats, in a cozy, climate controlled environment.  Unlike larger boarding and grooming facilities, we provide your pet with personalized care in a smaller, more intimate environment and work hard to build relationships with our clients as well as their pets.
				</p>
			</div>

			<div class="xs-space"></div>
			<div class="sm-space"></div>

			<div class="col-md-6">
				<h2>Professional Service and Staff</h2>
				<p>
					We provide nearly constant human interaction with the dogs and cats in our care during the day whether we are cleaning, feeding, refreshing water containers or just spending other quality time to be sure your pet has adequate time to socialize during its stay. Once our facility closes for business each day, the facility is monitored  via a security system and personal inspections.
				</p>
			</div>

		</div>
	</div>
</main>